{% load i18n admin_urls jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block submit-row %}
    {% if app_label == 'auth' %}
        <div class="our-team rounded-lg elevation-2">
            <div class="picture">
                {% if jazzmin_settings|has_jazzmin_setting:"user_avatar" %}
                    <img
                            src="{% get_user_avatar request.user %}"
                            {#                                src="https://picsum.photos/130/130?image=1027"#}
                            width="36px"
                            class="img-fluid" alt="User Image">
                {% else %}
                    <i class="fas fa-inverse user-profile fa-user-circle"></i>
                {% endif %}

            </div>
            <div class="text-center">
                <h3 class="text-center">{{ request.user }}</h3>
                <h4 class="title">
                    {% if request.user.get_full_name %}
                        {{ request.user.get_full_name }}
                    {% else %}
                        نام و فامیل وارد کنید
                    {% endif %}

                </h4>
                <h5 class="title">
                    {% if request.user.email %}
                        {{ request.user.email }}
                    {% else %}
                        test@test.com
                    {% endif %}
                </h5>
            </div>

        </div>

    {% endif %}



    <div class="card card-primary card-outline rounded-lg elevation-2 hover-scale ">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit text-primary"></i>
                {% trans 'Actions' %}
            </h3>
        </div>
        <div class="card-body">
            {% if show_save %}
                <div class="form-group">
                    <input type="submit" value="{% trans 'Save' %}"
                           class="btn {{ jazzmin_ui.button_classes.success }} cform-control" name="_save">
                </div>
            {% endif %}
            {% if show_delete_link and original %}
                <div class="form-group">
                    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                    <a href="{% add_preserved_filters delete_url %}"
                       class="btn {{ jazzmin_ui.button_classes.danger }} cform-control">{% trans "Delete" %}</a>
                </div>
            {% endif %}
            {% if show_save_as_new %}
                <div class="form-group">
                    <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} cform-control"
                           value="{% trans 'Save as new' %}" name="_saveasnew">
                </div>
            {% endif %}
            {% if show_save_and_add_another %}
                <div class="form-group">
                    <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} cform-control"
                           value="{% trans 'Save and add another' %}" name="_addanother">
                </div>
            {% endif %}
            {% if show_save_and_continue %}
                <div class="form-group">
                    <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} cform-control"
                           value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}"
                           name="_continue">
                </div>
            {% endif %}
            {% if show_close %}
                <div class="form-group">
                    <a href="{% url opts|admin_urlname:'changelist' %}"
                       class="btn {{ jazzmin_ui.button_classes.danger }} cform-control">{% trans 'Close' %}</a>
                </div>
            {% endif %}

            {% block extra-actions %}{% endblock %}
        </div>
    </div>
{% endblock %}

